.noWebkitMargin {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
h3 {
  font-size: 40px;
}
#renewwText {
  font-size: 37px;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#houseRendering {
  width: 100%;
  margin-bottom: 0px;
  content: url("../images/house-rendering1_gray.jpg");
}
#titleBlock {
  position: relative;
  display: block;
  width: 100%;
  bottom: 0;
}
.leftThumbnail {
  width: auto;
  height: 175px;
  float: none;
  clear: both;
  margin: 10px 0 20px 0;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
h1 {
  font-size: 25px;
  line-height: 80px;
  text-align: center;
  margin-left: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
p {
  font-size: 14px;
}
.section {
  padding-bottom: 50px;
}
