#mainPage {
  /*background-image: url(../images/backgrounds/whitepaper.jpg); */
  /*position: relative;*/
}

.animatedButton {
  padding-left: 0px;
}

p {
  font-size: 12px;
}

h1 {
  font-size: 30px;
}

#houseRendering {
  padding-top: 50px;
}

#textWrapper .leftImg {
  display: block;
  float: none;
  clear: both;
  padding: 10px 0 20px 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

#textWrapper .rightImg {
  display: block;
  float: none;
  clear: both;
  padding: 10px 0 20px 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.leftFloat {
  padding-bottom: 50px;
}

.rightFloat {
  padding-bottom: 50px;
}
  .rightFloat p {
    text-align: left;
  }
