@font-face
{
font-family: 'Oswald';
src: url(../fonts/Oswald-Regular.ttf);
}

@font-face
{
font-family: 'Duru Sans';
src: url(../fonts/DuruSans-Regular.ttf);
}

@font-face
{
font-family: 'Lora';
src: url(../fonts/Lora-Regular.ttf);
}

/*  mainNav */
#mainNav {
  position: fixed;     
  -webkit-transform: translateZ(0); 
  top:0;
  right: 0; 
  width: 100%;
  height:40px;
  margin: 0px 0px 0px 0px;   
  text-align: right;   
  display: inline-block;  
  /*background-color: white;*/
  background-color:rgba(255,255,255,0.65);
} 

.animatedButton {
  height: 30px;
  width: 90px;
  position: relative;
  display:inline;
  text-decoration: none;
  padding-left: 10px;
}

#horizontalMenu {
  padding-top:5px;
  display: inline-block;
}

#homelogo {
  left: 10px;
  height:30px;
  width: auto;
  position: fixed;
  padding: 5px 0px 0px 15px;
}

#hamburgerIcon {
  display: none;
}
/*  mainNav */

body {
  margin: 0px;
}

#frame {
	position: absolute;
	height: 100%;
	width: 100px;
	left: 0px;
	top:0px;
	background-color:rgba(0,0,0,0.65);
}

#content {
	width: 100%;
	/*left: 120px;*/
	/*top: 40px;*/
	position: absolute;
}

.section {
  width: 100%;
  height: auto;
  padding: 40px 0px 40px 0px;
  text-align: center;
  min-height: 200px;
  position: relative;
}
  .odd {
    background-color:rgba(171,214,228,1);
  }
  .even {
    background-color:rgba(75,161,191,1);
  }
  .section .icon {
    height: 200px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -100px; 
  }

#energyBarChart {
	display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#legendWrapper {
  display: inline-block;
  position: relative;
  /*width: 100%;*/
  /*height: 100%;*/
}

.energyBarChart-legend {
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 190px;
}
  .energyBarChart-legend li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-family: 'Lora';
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
  }
  .energyBarChart-legend li:hover {
    background-color: #fafafa;
  }
  .energyBarChart-legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    border-radius: 5px;
  }

#energyUsedPieChart {

}

