@font-heading: 'Oswald', sans-serif;
@font-subheading: 'Duru Sans', sans-serif;
@font-heading-serif: 'Lora', serif;
@color-gray: #7f7f7f;
@color-blue: #0aa3df;
@color-green: #73be44;
@color-cream: #f2f2f2;
@color-lightgray: #cdcdcd;

.noWebkitMargin {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#title {
  display: block;
  position: relative;
  top: 60px;
  height: 160px;
  width:100%;
  padding-bottom: 30px;

  h1 {
    padding: 0px 0px 0px 0px;
    font-family: @font-heading;
    font-size:50px;
    color:@color-gray;
    .noWebkitMargin;
    text-align: center;
  }
  h2 {
    padding: 0px 0px 0px 0px;
    font-family: @font-subheading;
    font-size:28px;
    .noWebkitMargin;
    text-align: center;
    padding-top: 15px;
    color:@color-green;
  }
}

.grid-sizer {
  width: 150px;
}

.my-gallery {
  .thumbnail {
    width: 150px;
  }
  .thumbnail.large {
    width: 304px;
  }
  .thumbnail.large img {
    width: 304px;
  }
}
