body {
  font-size: 14px;
}

#footer {
  height:120px;
}

.footerSection {
  height: 50%;
}

.divider {
  display: none;
}

#horizontalDivider {
  display: block;
  width: 90%;
  left:5%;
}

#homeBanner h2{ 
  font-size:50px;
}
  #homeBanner #houseText {
    font-size: 55px;
  }
/*.image {
  clear: both;
  text-align: center;
  float: none;
  margin-top: 20px;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}*/

h3 {
  font-size: 36px;
}

#mission {
  top: -88px; 
}

#tab {
  top: -88px; 
}