#homeBanner h2 {
  font-size: 50px;
}
#houseText {
  font-size: 55px;
}
h3 {
  font-size: 26px;
}
#acronymText {
  font-size:40px; 
  line-height:26px;
}
#missionTitle {
  padding-bottom: 5px;
}
body {
  font-size: 14px;
}
#mission {
  top: -88px; 
}
#tab {
  top: -88px; 
}