body {
  font-size: 14px;
}

#content p {
  line-height: 24px; 
  font-size:20px;
}

#homeBanner {
  position: absolute;
  background-image: url(../images/backgrounds/mobilewelcome.jpg); 
}
  #homeBanner h1{ 
    font-size: 24px;
    letter-spacing: 1px;
  }
  #homeBanner h2{ 
    font-size: 35px;
    margin-top: 10px;
  }
  #homeBanner #houseText {
    font-size:45px; 
    letter-spacing:9px;
  }

#bannerText {
  position: absolute;
}

#mission {
  top: -138px; 
}
  #mission h3 {
    /*this is a hack - need to figure out how to center based on the top item*/
    padding-left: 25px;
  }

.image {
  clear: both;
  text-align: center;
  float: none;
  margin-top: 20px;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 30px;
  text-align: left;
  padding-top: 10px;
}

#acronymText {
  font-size: 35px;
}

.break {
  display: inline;
}

#houseWrapper {
  display: block;
}
  #houseWrapper img {
    margin-right:0px;
  }

.highlightedText {
  font-size:44px; 
}

#footer {
  height:180px;
}

.footerImage {
  width:auto;
  height:auto;
  max-height:60%;
  display:inline-block; 
  position:relative;
}

#contact {
  height: 100%;
  width:auto;
  text-align: center;
}

.divider {
  display: none;
}

#horizontalDivider {
  display: block;
}

.footerSection {
  display:block; 
  height: 33%;
  width: 100%;
}

.animatedButton {
  padding-left: 0px;
}

#tab {
  top: -138px; 
}
