#mainPage {
  background-image: url(../images/backgrounds/brickwall_mobile.jpg); 
}

#partners {
  width:100%;
}
  #bluebg {
    width: 100%;
    left: 0;
    margin-left: 0;
    border-radius:0px; 
  }
  #partners h1 {
    font-size:40px; 
  }
  #partners h2 {
    font-size:20px; 
  }

.partner {
  width: 100%;
}
  .partner img {
    height: auto;
    margin: 0px 0px 0px 0px;
  }
  .partner .logo {
    width: 100%;
    margin: 0;
  }
  .partner .photo {
    margin-right: 0px;
    width: 60%;
  }