#mainPage {
  background-image: url(../images/backgrounds/mobileconcrete.jpg); 
  background-repeat: no-repeat;
  background-position: center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: translateZ(0); 
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  display: block;
}

#partners {
  width:100%;
}
  #greenbg {
    width: 100%;
  }

.partner {
  width: 100%;
}
  .partner img {
    height: auto;
    margin: 0px 0px 0px 0px;
  }

.logo {
  width: 95%;
  left: 2.5%;
  height: auto;
}

.partner .photo {
  clear: both;
  height: 100px;
  pos
}