#mainPage {
  background-image: url(../images/backgrounds/brickwall3_mobile.jpg); 
  position: relative;
}

.animatedButton {
  padding-left: 0px;
}

#title {
  width:100%;
  padding-bottom: 40px;
}
  #title h1 {
    font-size:40px; 
  }
  #title h2 {
    font-size:20px; 
  }

#tiles li {
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 10px;
}