<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=yes" />
  <title>ReNEWW</title>
  <script src="libraries/jquery-1.9.1.js"></script>
  <script src="libraries/raphael.js"></script>
  <script src="components/pie.js"></script>
  <script src="components/popup.js"></script>
  <script src="components/graph.js"></script>
  <script src="components/house-hover.js"></script>
  <script src="components/AnimatedButton.js"></script>
  <script src="libraries/Chart.min.js"></script>
  <link rel="shortcut icon" href="images/32x32 logo.ico">
  <link rel="stylesheet" type="text/css" media="screen" href="css/data.css" />
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 320px)" href="css/data320.css" />
  <script>
  $(function() {
    $(function(){
        var R1 = Raphael("dataButton", 80, 30);
        // var R2 = Raphael("tourButton", 80, 30);
        var R3 = Raphael("aboutButton", 80, 30);
        var R4 = Raphael("partnerButton", 90, 30);
        var dataButton = new AnimatedButton(R1, "DATA", 80, 30);
        // var tourButton = new AnimatedButton(R2, "TOUR", 80, 30);
        this.aboutButton = new AnimatedButton(R3, "ABOUT", 80, 30);
        this.partnerButton = new AnimatedButton(R4, "PARTNERS", 90, 30);
      }.bind(this));

    this.getData = function(year, month, day) {
      if (window.XMLHttpRequest) {
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      } else { // code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          console.debug(xmlhttp.responseText);
          var responseObj = JSON.parse(xmlhttp.responseText);
          this.refreshChart(responseObj.labels,responseObj.values,[0,0]);
        }
      }.bind(this);
      var date = new Date();
      xmlhttp.open("GET","http://localhost/data/getEnergyData.php?cur_year="+date.getFullYear()+"&year="+year+"&month="+month+"&day="+day,true);
      xmlhttp.send();
    }.bind(this);

    var barData = {
        labels: ["2014", "2015", "2016", "2017"],
          datasets: [
              {
                  // label: "Energy Used by Year",
                  fillColor: "rgba(4,72,95,1)",
                  strokeColor: "rgba(220,220,220,0)",
                  highlightFill: "rgba(4,72,95,0.75)",
                  highlightStroke: "rgba(255,255,255,1)",
                  data: [175, 185, 165, 170],
                  // title: "Energy Used"
              },
              {
                  // label: "Energy Harvested by Year",
                  fillColor: "rgba(10,168,223,1)",
                  strokeColor: "rgba(151,187,205,0)",
                  highlightFill: "rgba(10,168,223,0.75)",
                  highlightStroke: "rgba(255,255,255,1)",
                  data: [150, 190, 175, 160],
                  // title: "Energy Harvested"
              },
          ]
      }

    var barOptions = {
        //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
        scaleBeginAtZero : true,
        //Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines : false,
        //String - Colour of the grid lines
        scaleGridLineColor : "rgba(0,0,0,.05)",
        //Number - Width of the grid lines
        scaleGridLineWidth : 1,
        //Boolean - If there is a stroke on each bar
        barShowStroke : true,
        //Number - Pixel width of the bar stroke
        barStrokeWidth : 2,
        //Number - Spacing between each of the X value sets
        barValueSpacing : 10,
        //Number - Spacing between data sets within X values
        barDatasetSpacing : 1,
        //String - A legend template
        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
    }

    this.refreshChart = function(labels, series1, series2) {
      barData.labels = labels;
      barData.datasets[0].data = series1;
      barData.datasets[1].data = series2;

      var energy = document.getElementById("energyBarChart").getContext("2d");
      if (this.barChart) {
        this.barChart.destroy();
        // the below two lines are necessary to fix an issue where the canvas size keeps doubling
        energy.canvas.width = 600;
        energy.canvas.height = 300;
      }
      this.barChart = new Chart(energy).Bar(barData, barOptions);
    }.bind(this);

    var date = new Date();
    this.getData(date.getFullYear(), 0, 0);
    // this.getData(0, 0, 0);

    document.getElementById("energyBarChart").onclick = function(evt){
        var activePoints = this.barChart.getBarsAtEvent(evt);
        // => activePoints is an array of points on the canvas that are at the same position as the click event.
        var year = activePoints[0].label;

        this.getData(year);
    }.bind(this);

    var pieData = [
      {
          value: 300,
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Kitchen"
      },
      {
          value: 50,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Laundry"
      },
      {
          value: 100,
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Bedroom"
      }
    ]
    var pieOptions = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke : true,

        //String - The colour of each segment stroke
        segmentStrokeColor : "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth : 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout : 0, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps : 100,

        //String - Animation easing effect
        animationEasing : "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate : true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale : false,

        //String - A legend template
        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

    }
    var pie1 = document.getElementById("energyUsedPieChart").getContext("2d");
    var myPieChart1 = new Chart(pie1).Pie(pieData,pieOptions);

    var pie2 = document.getElementById("energyGainedPieChart").getContext("2d");
    var myPieChart2 = new Chart(pie2).Pie(pieData,pieOptions);
  });
  </script>
</head>
<body>
    <!-- <div id="graph"></div> -->
    <div id="content">
      <div class="section odd">
        <img class="icon" src="images/blue_lightbulb.jpg"/>
        <canvas id="energyBarChart" width="600" height="300"></canvas>
        <ul class="energyBarChart-legend">
          <li><span style="background-color:rgba(4,72,95,1)"></span>Energy Consumed (MW)</li>
          <li><span style="background-color:rgba(10,168,223,1)"></span>Energy Harvested (MW)</li>
        </ul>
      </div>
      <div class="section even">
        <img class="icon" src="images/lightblue_lightbulb.jpg"/>
        <canvas id="energyUsedPieChart" width="200" height="150" ></canvas>
        <canvas id="energyGainedPieChart" width="200" height="150"></canvas>
      </div>
      <div class="section odd">
      </div>
      <div class="section even">
      </div>
    </div>
    <div id="mainNav" class="clearfix" style="z-index:2000;">
      <a href="index.html"><img src="images/grayhouse.png" id="homelogo"></a>
      <div id="horizontalMenu" >
        <a href="data.html" id="dataButton" class="animatedButton"></a>
        <!-- <a href="" id="tourButton" class="animatedButton"></a> -->
        <a href="partners.html" id="partnerButton" class="animatedButton"></a>
        <a href="about.html" id="aboutButton" class="animatedButton"></a>
      </div>
      <img src="images/houselogo_small.png" id="hamburgerIcon" />
    </div>
</body>
</html>